In [10]:
%load_ext sql
%sql postgresql+psycopg://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql+psycopg://db:***@postgres/db'

In [27]:
%%sql 
DROP TABLE IF EXISTS Client CASCADE;
DROP TABLE IF EXISTS Address CASCADE;
DROP TABLE IF EXISTS Assistant CASCADE;
DROP TABLE IF EXISTS Doctor CASCADE;
DROP TABLE IF EXISTS Animal CASCADE;
DROP TABLE IF EXISTS Cat CASCADE;
DROP TABLE IF EXISTS Dog CASCADE;
DROP TABLE IF EXISTS Other_Mamals CASCADE;
DROP TABLE IF EXISTS Fish CASCADE;
DROP TABLE IF EXISTS Birds CASCADE;
DROP TABLE IF EXISTS Reptiles CASCADE;
DROP TABLE IF EXISTS Prescription CASCADE;
DROP TABLE IF EXISTS Diagnostic CASCADE;
DROP TABLE IF EXISTS Medication CASCADE;
DROP TABLE IF EXISTS Procedures CASCADE;
DROP TABLE IF EXISTS Test CASCADE;
DROP TABLE IF EXISTS Surgical CASCADE;
DROP TABLE IF EXISTS Other_Procedures CASCADE;
DROP TABLE IF EXISTS Radiography CASCADE;
DROP TABLE IF EXISTS Visit CASCADE;
DROP TABLE IF EXISTS associates CASCADE;
DROP TABLE IF EXISTS participates_in;
DROP TABLE IF EXISTS assist_in;
DROP TABLE IF EXISTS involves;
DROP TABLE IF EXISTS contains_in;
DROP TABLE IF EXISTS results_in;
DROP TABLE IF EXISTS Indicators CASCADE;
DROP TABLE IF EXISTS Stores CASCADE;

CREATE TABLE Address (
    line1 VARCHAR(255),
    line2 VARCHAR(255),
    city VARCHAR(30),
    postal_code VARCHAR(12),
    PRIMARY KEY (line1, line2, city, postal_code),
    CHECK (LENGTH(postal_code) >= 2)
    );


CREATE TABLE Client (
    tin INTEGER,
    name VARCHAR(80) NOT NULL,
    phone VARCHAR(15) NOT NULL,
    line1 VARCHAR(255) NOT NULL,
    line2 VARCHAR(255) NOT NULL,
    city VARCHAR(30) NOT NULL,
    postal_code VARCHAR(12) NOT NULL,
    FOREIGN KEY (line1, line2, city, postal_code) REFERENCES Address(line1, line2, city, postal_code),
    PRIMARY KEY (tin),
    CHECK (LENGTH(phone) >= 3),
    CHECK (LENGTH(postal_code) >= 2)
    -- Every client must exist in the table ‘Visit’
    );

CREATE TABLE Assistant (
    name VARCHAR(80),
    phone VARCHAR(15) NOT NULL,
    line1 VARCHAR(255) NOT NULL,
    line2 VARCHAR(255) NOT NULL,
    city VARCHAR(30) NOT NULL,
    postal_code VARCHAR(12) NOT NULL,
    FOREIGN KEY (line1, line2, city, postal_code) REFERENCES Address(line1, line2, city, postal_code),
    PRIMARY KEY (name,phone),
    CHECK (LENGTH(phone) >= 3),
    CHECK (LENGTH(postal_code) >= 2)
    );

CREATE TABLE Doctor (
    omv INTEGER,
    name VARCHAR(80) NOT NULL,
    bio VARCHAR(1000) NOT  NULL,
    phone VARCHAR(15) NOT NULL,
    spec VARCHAR(60) NOT NULL,
    line1 VARCHAR(255) NOT NULL,
    line2 VARCHAR(255) NOT NULL,
    city VARCHAR(30) NOT NULL,
    postal_code VARCHAR(12) NOT NULL,
    FOREIGN KEY (line1, line2, city, postal_code) REFERENCES Address(line1, line2, city, postal_code),
    CHECK (LENGTH(phone) >= 3),
    CHECK (LENGTH(postal_code) >= 2),
    PRIMARY KEY (omv)
    -- Every doctor must exist in the table ‘Visit’
    );

CREATE TABLE Animal (
    name VARCHAR(80),
    gender VARCHAR(1) NOT NULL,
    color VARCHAR(20) NOT NULL,
    weight NUMERIC(6,2) NOT NULL,
    birthdate DATE NOT NULL,
    tin INTEGER NOT NULL,
    FOREIGN KEY (tin) REFERENCES Client(tin),
    PRIMARY KEY (name)
    -- Every animal must exist in the table ‘Visit’
    -- Every animal must exist in one of the following tables ('Cat','Dog','Other_Mamals','Fish','Birds','Reptiles')
    -- No animal can exist at the same time in more than one of the following tables ('Cat','Dog','Other_Mamals','Fish','Birds','Reptiles')
    );

CREATE TABLE Cat (
    name VARCHAR(80),
    breed VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Dog (
    name VARCHAR(80),
    breed VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Other_Mamals (
    name VARCHAR(80),
    species VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Fish (
    name VARCHAR(80),
    species VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Birds (
    name VARCHAR(80),
    species VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Reptiles (
    name VARCHAR(80),
    species VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Prescription (
    pid INTEGER,
    PRIMARY KEY (pid)
    -- Every prescription must exist in the table ‘Contains’
    -- Every prescription must exist in the table ‘Results_in’
    );

CREATE TABLE Diagnostic (
    dcode INTEGER,
    descript VARCHAR(1000) NOT NULL,
    PRIMARY KEY (dcode)
    );

CREATE TABLE Medication (
    name VARCHAR(30),
    lab VARCHAR(200),
    dosage VARCHAR(20),
    PRIMARY KEY (name,lab,dosage)
    );

CREATE TABLE Procedures (
    name VARCHAR(80),
    date TIMESTAMP,
    description_s VARCHAR(1000) NOT NULL,
    description_l TEXT NOT NULL,
    PRIMARY KEY (name, date),
    FOREIGN KEY (name) REFERENCES Animal(name)
    -- Every procedure must exist in the table ‘Involves’
    -- Every procedure must exist in one of the following tables ('Test','Surgical','Radiography','Other_procedures')
    -- No procedure can exist at the same time in more than one of the following tables ('Test','Surgical','Radiography','Other_procedures')
);

CREATE TABLE Test (
    name VARCHAR(80),
    test_name VARCHAR(80) NOT NULL,
    date TIMESTAMP,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date),
    -- Every test belongs to the association ‘Stores’

);

CREATE TABLE Surgical (
    name VARCHAR(80),
    date TIMESTAMP,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date)
    );


CREATE TABLE Indicators(
    name VARCHAR(80),
    ref_value VARCHAR(80) NOT NULL,
    text VARCHAR(1000) NOT NULL,
    PRIMARY KEY(name)
);

CREATE TABLE Stores(
    name_indicator VARCHAR(80),
    name_animal VARCHAR(80),
    date TIMESTAMP,
    PRIMARY KEY(name_indicator,name_animal,date),
    FOREIGN KEY(name_indicator) REFERENCES Indicators(name),
    FOREIGN KEY(name_animal,date) REFERENCES Test(name,date)   
);

CREATE TABLE Radiography (
    name VARCHAR(80),
    url VARCHAR(300) NOT NULL,
    date TIMESTAMP,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date)
    );

CREATE TABLE Visit (
    date TIMESTAMP NOT NULL,
    name VARCHAR(80),
    plan VARCHAR(2000),
    subjective VARCHAR(2000),
    objective VARCHAR(2000),
    assessment VARCHAR(2000),
    omv INTEGER,
    tin INTEGER,
    PRIMARY KEY (name, date),
    FOREIGN KEY (omv) REFERENCES Doctor(omv),
    FOREIGN KEY (tin) REFERENCES Client(tin),
    FOREIGN KEY (name) REFERENCES Animal(name)
);

CREATE TABLE participates_in (
    name_assistant VARCHAR(80) NOT NULL,
    phone VARCHAR(15) NOT NULL,
    name_animal VARCHAR(80) NOT NULL,
    date TIMESTAMP   NOT NULL,
    FOREIGN KEY (name_assistant,phone) REFERENCES assistant(name,phone),
    CHECK (LENGTH(phone) >= 3),
    FOREIGN KEY (name_animal,date) REFERENCES Visit(name,date)
);

CREATE TABLE assist_in (
    name_assistant VARCHAR(80) NOT NULL,
    phone VARCHAR(15) NOT NULL,
    date TIMESTAMP   NOT NULL,
    animal_name VARCHAR(80) NOT NULL,
    FOREIGN KEY (name_assistant,phone) REFERENCES Assistant(name,phone),
    FOREIGN KEY (date,animal_name) REFERENCES Procedures(date,name),
    CHECK (LENGTH(phone) >= 3),
    PRIMARY KEY (date,animal_name,name_assistant,phone)
    
);

CREATE TABLE involves (
    date_procedures TIMESTAMP   NOT NULL,
    date_visits TIMESTAMP   NOT NULL,
    name_animal_visit VARCHAR(80) NOT NULL,
    name_animal_procedures VARCHAR(80) NOT NULL,
    FOREIGN KEY (name_animal_procedures, date_procedures) REFERENCES Procedures(name, date),
    FOREIGN KEY (name_animal_visit, date_visits) REFERENCES Visit(name,date),
    PRIMARY KEY (date_procedures,date_visits,name_animal_visit),
    CHECK(name_animal_visit = name_animal_procedures)
);

CREATE TABLE contains_in (
    id INTEGER,
    name VARCHAR(80) NOT NULL,
    lab VARCHAR(200) NOT NULL,
    dosage VARCHAR(20) NOT NULL,
    FOREIGN KEY (id) REFERENCES Prescription(pid),
    FOREIGN KEY (name,lab,dosage) REFERENCES Medication(name,lab,dosage),
    PRIMARY KEY (id,name,lab,dosage)

);

CREATE TABLE associates (
    name VARCHAR(80) NOT NULL,
    date TIMESTAMP NOT NULL,
    dcode INTEGER NOT NULL,
    FOREIGN KEY (dcode) REFERENCES Diagnostic(dcode),
    FOREIGN KEY (name,date) REFERENCES Visit(name,date),
    PRIMARY KEY (name,date,dcode)
);

CREATE TABLE results_in (
    id INTEGER NOT NULL,
    name VARCHAR(80) NOT NULL,
    date TIMESTAMP NOT NULL,
    dcode INTEGER NOT NULL,
    FOREIGN KEY (id) REFERENCES Prescription(pid),
    FOREIGN KEY (name,date,dcode) REFERENCES associates(name,date,dcode),
    PRIMARY KEY (id,name,date,dcode)

);

SyntaxError: invalid syntax (1418884487.py, line 4)

In [25]:
%%sql

DROP TABLE IF EXISTS participates_in;
DROP TABLE IF EXISTS assist_in;
DROP TABLE IF EXISTS involves;
DROP TABLE IF EXISTS contains_in;
DROP TABLE IF EXISTS associates CASCADE;
DROP TABLE IF EXISTS results_in;_



# NAO PRECISA EXISTIR
CREATE TABLE lives_c (
    tin INTEGER,
    line1 VARCHAR(120) NOT NULL,
    line2 VARCHAR(120) NOT NULL,
    city VARCHAR(100) NOT NULL,
    postal_code VARCHAR(20) NOT NULL,
    FOREIGN KEY (line1, line2, city, postal_code) REFERENCES Address(line1, line2, city, postal_code),
    FOREIGN KEY (tin) REFERENCES Client(tin),
);
# NAO PRECISA EXISTIR
CREATE TABLE lives_a (
    name VARCHAR(80),
    phone VARCHAR(20),
    line1 VARCHAR(120) NOT NULL,
    line2 VARCHAR(120) NOT NULL,
    city VARCHAR(100) NOT NULL,
    postal_code VARCHAR(20) NOT NULL,
    FOREIGN KEY (name,phone) REFERENCES Assistant(name,phone),
    FOREIGN KEY (line1, line2, city, postal_code) REFERENCES Address(line1, line2, city, postal_code)
);
# NAO PRECISA EXISTIR
CREATE TABLE lives_d (
    omv INTEGER,
    line1 VARCHAR(120) NOT NULL,
    line2 VARCHAR(120) NOT NULL,
    city VARCHAR(100) NOT NULL,
    postal_code VARCHAR(20) NOT NULL,
    FOREIGN KEY (omv) REFERENCES Doctor(omv),
    FOREIGN KEY (line1, line2, city, postal_code) REFERENCES Address(line1, line2, city, postal_code)
);
#NAO PRECISA EXISTIR
CREATE TABLE has (
    name VARCHAR(80),
    tin INTEGER,
    FOREIGN KEY (tin) REFERENCES Client(tin),
    FOREIGN KEY (name) REFERENCES Animal(name)
);
# NAO PRECISA EXISTIR
CREATE TABLE comes_to (
    tin INTEGER,
    date TIMESTAMP,
    PRIMARY KEY (tin),
    FOREIGN KEY (tin) REFERENCES Client(tin),
    FOREIGN KEY (date) REFERENCES Visits(date)
    --Rever esta
);
#NAO PRECISA EXISTIR
CREATE TABLE A_comes_to (
    name VARCHAR(80),
    date TIMESTAMP,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name) REFERENCES Animal(name),
    FOREIGN KEY (date) REFERENCES Visits(date)
    --Rever esta
);

CREATE TABLE participates_in (
    name_assistant VARCHAR(80) NOT NULL,
    phone VARCHAR(20) NOT NULL,
    name_animal VARCHAR(80) NOT NULL,
    date TIMESTAMP   NOT NULL,
    FOREIGN KEY (name_assistant,phone) REFERENCES Assistante(name,phone),
    FOREIGN KEY (name_animal,date) REFERENCES Visits(name,date)
);

CREATE TABLE assist_in (
    name_assistant VARCHAR(80) NOT NULL,
    phone VARCHAR(20) NOT NULL,
    date TIMESTAMP   NOT NULL,
    animal_name VARCHAR(80) NOT NULL,
    FOREIGN KEY (name_assistant,phone) REFERENCES Assistant(name,phone),
    FOREIGN KEY (date,animal_name) REFERENCES Procedures(date,animal_name)
    PRIMARY KEY (date,animal_name,name_assistant,phone),
);

CREATE TABLE involves (
    date_procedures TIMESTAMP   NOT NULL,
    date_visits TIMESTAMP   NOT NULL,
    name_animal_visit VARCHAR(80) NOT NULL,
    name_animal_procedures VARCHAR(80) NOT NULL,
    FOREIGN KEY (name_animal, date_procedures) REFERENCES Procedures(name, date),
    FOREIGN KEY (name_animal, date_visits) REFERENCES Visit(name,date),
    PRIMARY KEY (date_procedures,date,name_animal),
    #POR ESTA IC no diagrama
    CHECK(name_animal_visit = name_animal_procedures)
);

CREATE TABLE contains_in (
    id INTEGER,
    name VARCHAR(80) NOT NULL,
    lab VARCHAR(80) NOT NULL,
    dosage VARCHAR(20) NOT NULL,
    FOREIGN KEY (id) REFERENCES Prescription(id),
    FOREIGN KEY (name,lab,dosage) REFERENCES Medication(name,lab,dosage),
    PRIMARY KEY (id,name,lab,dosage),

);

CREATE TABLE associates (
    name VARCHAR(80) NOT NULL,
    date TIMESTAMP NOT NULL,
    dcode INTEGER NOT NULL,
    FOREIGN KEY (dcode) REFERENCES Diagnostic(dcode),
    FOREIGN KEY (name,date) REFERENCES Visit(name,date),
    PRIMARY KEY (name,date,dcode)
);

CREATE TABLE results_in (
    id INTEGER NOT NULL,
    name VARCHAR(80) NOT NULL,
    date TIMESTAMP NOT NULL,
    dcode INTEGER NOT NULL,
    FOREIGN KEY (id) REFERENCES Prescription(id),
    FOREIGN KEY (name,date,dcode) REFERENCES associates(name,date,dcode),
    PRIMARY KEY (id,name,date,dcode)

);

Running query in 'postgresql+psycopg://db:***@postgres/db'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(psycopg.errors.UndefinedTable) relation "visits" does not exist
[SQL: CREATE TABLE comes_to (
    tin INTEGER,
    date DATE,
    PRIMARY KEY (tin),
    FOREIGN KEY (tin) REFERENCES Client(tin),
    FOREIGN KEY (date) REFERENCES Visits(date)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community