In [10]:
%load_ext sql
%sql postgresql+psycopg://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql+psycopg://db:***@postgres/db'

In [23]:
%reload_ext sql
%%sql

DROP TABLE IF EXISTS Client CASCADE;
DROP TABLE IF EXISTS Address CASCADE;
DROP TABLE IF EXISTS Assistant CASCADE;
DROP TABLE IF EXISTS Doctor CASCADE;
DROP TABLE IF EXISTS Animal CASCADE;
DROP TABLE IF EXISTS Cat CASCADE;
DROP TABLE IF EXISTS Dog CASCADE;
DROP TABLE IF EXISTS Other_Mamals CASCADE;
DROP TABLE IF EXISTS Fish CASCADE;
DROP TABLE IF EXISTS Birds CASCADE;
DROP TABLE IF EXISTS Reptiles CASCADE;
DROP TABLE IF EXISTS Prescription CASCADE;
DROP TABLE IF EXISTS Diagnostic CASCADE;
DROP TABLE IF EXISTS Medication CASCADE;
DROP TABLE IF EXISTS Procedures CASCADE;
DROP TABLE IF EXISTS Test CASCADE;
DROP TABLE IF EXISTS Surgical CASCADE;
DROP TABLE IF EXISTS Other_Procedures CASCADE;
DROP TABLE IF EXISTS Radiography CASCADE;
DROP TABLE IF EXISTS Visits CASCADE;

CREATE TABLE Client (
    tin INTEGER,
    name VARCHAR(80) NOT NULL,
    phone VARCHAR(20) NOT NULL,
    PRIMARY KEY (tin)
    );

CREATE TABLE Address (
    line1 VARCHAR(120),
    line2 VARCHAR(120),
    city VARCHAR(100),
    postal_code VARCHAR(20),
    PRIMARY KEY (line1, line2, city, postal_code)
    );

CREATE TABLE Assistant (
    name VARCHAR(80),
    phone VARCHAR(20),
    PRIMARY KEY (name,phone)
    );

CREATE TABLE Doctor (
    omv INTEGER,
    name VARCHAR(80) NOT NULL,
    bio VARCHAR(1000) NOT  NULL,
    phone VARCHAR(20) NOT NULL,
    spec VARCHAR(60) NOT NULL,
    PRIMARY KEY (omv)
    );

CREATE TABLE Animal (
    name VARCHAR(80),
    gender VARCHAR(180) NOT NULL,
    color VARCHAR(20) NOT NULL,
    spec VARCHAR(60) NOT NULL,
    weight NUMERIC(6,2) NOT NULL,
    birthdate DATE NOT NULL,
    PRIMARY KEY (name)
    );

CREATE TABLE Cat (
    name VARCHAR(80),
    breed VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Dog (
    name VARCHAR(80),
    breed VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Other_Mamals (
    name VARCHAR(80),
    species VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Fish (
    name VARCHAR(80),
    species VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Birds (
    name VARCHAR(80),
    species VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Reptiles (
    name VARCHAR(80),
    species VARCHAR(80) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Prescription (
    pid INTEGER,
    PRIMARY KEY (pid)
    );

CREATE TABLE Diagnostic (
    dcode INTEGER,
    descript VARCHAR(180) NOT NULL,
    PRIMARY KEY (dcode)
    );

CREATE TABLE Medication (
    name VARCHAR(30),
    dlaboratory VARCHAR(30),
    dosage VARCHAR(20),
    PRIMARY KEY (name,dlaboratory,dosage)
    );

CREATE TABLE Procedures (
    name VARCHAR(80),
    date DATE,
    description_s VARCHAR(80) NOT NULL,
    description_l VARCHAR(180) NOT NULL,
    PRIMARY KEY (name, date),
    FOREIGN KEY (name) REFERENCES Animal(name)
);

CREATE TABLE Test (
    name VARCHAR(80),
    date DATE,
    ref_value VARCHAR(80) NOT NULL,
    text VARCHAR(80) NOT NULL,
    obs_value VARCHAR(80) NOT NULL,
    units VARCHAR(80) NOT NULL,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date)
    );

CREATE TABLE Surgical (
    name VARCHAR(80),
    date DATE,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date)
    );

CREATE TABLE Other_Procedures (
    name VARCHAR(80),
    date DATE,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date)
    );

CREATE TABLE Radiography (
    name VARCHAR(80),
    url VARCHAR(300) NOT NULL,
    date DATE,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date)
    );

CREATE TABLE Visit (
    date DATE NOT NULL,
    name VARCHAR(80),
    plan VARCHAR(80),
    subjective VARCHAR(80),
    objective VARCHAR(80),
    assessment VARCHAR(80),
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
);

SyntaxError: invalid syntax (1418884487.py, line 4)

In [25]:
%%sql
DROP TABLE IF EXISTS lives_c;
DROP TABLE IF EXISTS lives_a;
DROP TABLE IF EXISTS lives_d;
DROP TABLE IF EXISTS has;
DROP TABLE IF EXISTS comes_to;
DROP TABLE IF EXISTS participates_in;
DROP TABLE IF EXISTS contains_in;


CREATE TABLE lives_c (
    tin INTEGER,
    line1 VARCHAR(120) NOT NULL,
    line2 VARCHAR(120) NOT NULL,
    city VARCHAR(100) NOT NULL,
    postal_code VARCHAR(20) NOT NULL,
    FOREIGN KEY (tin) REFERENCES Client(tin),
    FOREIGN KEY (line1, line2, city, postal_code) REFERENCES Address(line1, line2, city, postal_code)
);

CREATE TABLE lives_a (
    name VARCHAR(80),
    phone VARCHAR(20),
    line1 VARCHAR(120) NOT NULL,
    line2 VARCHAR(120) NOT NULL,
    city VARCHAR(100) NOT NULL,
    postal_code VARCHAR(20) NOT NULL,
    FOREIGN KEY (name,phone) REFERENCES Assistant(name,phone),
    FOREIGN KEY (line1, line2, city, postal_code) REFERENCES Address(line1, line2, city, postal_code)
);

CREATE TABLE lives_d (
    omv INTEGER,
    line1 VARCHAR(120) NOT NULL,
    line2 VARCHAR(120) NOT NULL,
    city VARCHAR(100) NOT NULL,
    postal_code VARCHAR(20) NOT NULL,
    FOREIGN KEY (omv) REFERENCES Doctor(omv),
    FOREIGN KEY (line1, line2, city, postal_code) REFERENCES Address(line1, line2, city, postal_code)
);

CREATE TABLE has (
    name VARCHAR(80),
    tin INTEGER,
    FOREIGN KEY (tin) REFERENCES Client(tin),
    FOREIGN KEY (name) REFERENCES Animal(name)
);

CREATE TABLE comes_to (
    tin INTEGER,
    date DATE,
    PRIMARY KEY (tin),
    FOREIGN KEY (tin) REFERENCES Client(tin),
    FOREIGN KEY (date) REFERENCES Visits(date)
    --Rever esta
);

CREATE TABLE A_comes_to (
    name VARCHAR(80),
    date DATE,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name) REFERENCES Animal(name),
    FOREIGN KEY (date) REFERENCES Visits(date)
    --Rever esta
);

CREATE TABLE participates_in (
    name VARCHAR(80),
    phone VARCHAR(20),
    date DATE,
    FOREIGN KEY (name,phone) REFERENCES Assistante(name,phone),
    FOREIGN KEY (date) REFERENCES Visits(date)
    --Rever esta
);

Running query in 'postgresql+psycopg://db:***@postgres/db'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(psycopg.errors.UndefinedTable) relation "visits" does not exist
[SQL: CREATE TABLE comes_to (
    tin INTEGER,
    date DATE,
    PRIMARY KEY (tin),
    FOREIGN KEY (tin) REFERENCES Client(tin),
    FOREIGN KEY (date) REFERENCES Visits(date)

);]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community