In [2]:
%load_ext sql
%sql postgresql+psycopg://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql+psycopg://db:***@postgres/db'

In [6]:
%%sql
DROP TABLE IF EXISTS Client CASCADE;
DROP TABLE IF EXISTS Address CASCADE;
DROP TABLE IF EXISTS Assistant CASCADE;
DROP TABLE IF EXISTS Doctor CASCADE;
DROP TABLE IF EXISTS Animal CASCADE;
DROP TABLE IF EXISTS Cat CASCADE;
DROP TABLE IF EXISTS Dog CASCADE;
DROP TABLE IF EXISTS Other_Mamals CASCADE;
DROP TABLE IF EXISTS Fish CASCADE;
DROP TABLE IF EXISTS Birds CASCADE;
DROP TABLE IF EXISTS Reptiles CASCADE;
DROP TABLE IF EXISTS Prescription CASCADE;
DROP TABLE IF EXISTS Diagnostic CASCADE;
DROP TABLE IF EXISTS Medication CASCADE;
DROP TABLE IF EXISTS Procedures CASCADE;
DROP TABLE IF EXISTS Test CASCADE;
DROP TABLE IF EXISTS Surgical CASCADE;
DROP TABLE IF EXISTS Other_Procedures CASCADE;
DROP TABLE IF EXISTS Radiography CASCADE;
DROP TABLE IF EXISTS Visits CASCADE;

DROP TABLE IF EXISTS works_at CASCADE;
DROP TABLE IF EXISTS Contract CASCADE;

CREATE TABLE Client (
    tin INTEGER,
    name VARCHAR(80),
    phone VARCHAR(20),
    PRIMARY KEY (tin)
    );

CREATE TABLE Address (
    line1 VARCHAR(120),
    line2 VARCHAR(120),
    city VARCHAR(100),
    postal_code VARCHAR(20),
    PRIMARY KEY (line1, line2, city, postal_code)
    );

CREATE TABLE Assistant (
    name VARCHAR(80),
    phone VARCHAR(20),
    PRIMARY KEY (name,phone)
    );

CREATE TABLE Doctor (
    omv INTEGER,
    name VARCHAR(80),
    bio VARCHAR(180),
    phone VARCHAR(20),
    spec VARCHAR(60),
    PRIMARY KEY (omv)
    );

CREATE TABLE Animal (
    name VARCHAR(80),
    gender VARCHAR(180),
    color VARCHAR(20),
    spec VARCHAR(60),
    weight NUMERIC(6,2),
    birthdate DATE,
    PRIMARY KEY (name)
    );

CREATE TABLE Cat (
    name VARCHAR(80),
    breed VARCHAR(80),
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Dog (
    name VARCHAR(80),
    breed VARCHAR(80),
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Other_Mamals (
    name VARCHAR(80),
    species VARCHAR(80),
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Fish (
    name VARCHAR(80),
    species VARCHAR(80),
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Birds (
    name VARCHAR(80),
    species VARCHAR(80),
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Reptiles (
    name VARCHAR(80),
    species VARCHAR(80),
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
    );

CREATE TABLE Prescription (
    pid INTEGER,
    PRIMARY KEY (pid)
    );

CREATE TABLE Diagnostic (
    dcode INTEGER,
    descript VARCHAR(180),
    PRIMARY KEY (dcode)
    );

CREATE TABLE Medication (
    name VARCHAR(30),
    dlaboratory VARCHAR(30),
    dosage VARCHAR(20),
    PRIMARY KEY (name,dlaboratory,dosage)
    );

CREATE TABLE Procedures (
    name VARCHAR(80),
    date DATE,
    description_s VARCHAR(80),
    description_l VARCHAR(180),
    PRIMARY KEY (name, date),
    FOREIGN KEY (name) REFERENCES Animal(name)
);

CREATE TABLE Test (
    name VARCHAR(80),
    date DATE,
    ref_value VARCHAR(80),
    text VARCHAR(80),
    obs_value VARCHAR(80),
    units VARCHAR(80),
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date)
    );

CREATE TABLE Surgical (
    name VARCHAR(80),
    date DATE,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date)
    );

CREATE TABLE Other_Procedures (
    name VARCHAR(80),
    date DATE,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date)
    );

CREATE TABLE Radiography (
    name VARCHAR(80),
    url VARCHAR(300),
    date DATE,
    PRIMARY KEY (name,date),
    FOREIGN KEY (name,date) REFERENCES Procedures(name,date)
    );

CREATE TABLE Visits (
    date DATE NOT NULL,
    name VARCHAR(80),
    plan VARCHAR(80),
    subjective VARCHAR(80),
    objective VARCHAR(80),
    assessment VARCHAR(80),
    courseno NUMERIC(3),
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
);

Running query in 'postgresql+psycopg://db:***@postgres/db'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(psycopg.errors.SyntaxError) syntax error at or near "REFERENCES Animal"
LINE 10:     FOREIGN KEY (name) REFERENCES Animal(name)
                                ^
[SQL: CREATE TABLE Visits (
    date DATE NOT NULL,
    name VARCHAR(80),
    plan VARCHAR(80),
    subjective VARCHAR(80),
    objective VARCHAR(80),
    assessment VARCHAR(80),
    courseno NUMERIC(3),
    PRIMARY KEY (name),
    FOREIGN KEY (name) REFERENCES Animal(name)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community